{% extends "emails/base.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
  <h2>Reset Your Password 🔐</h2>
  <p>Hello <strong>{{ user_name }}</strong>,</p>
  <p>We received a request to reset the password for your MediCare Hub account.</p>
  <p>Click the button below to set a new password. This link will expire in 24 hours.</p>

  <a href="{{ reset_link }}" class="button">
    Reset Password
  </a>

  <p>If you didn’t request this, you can safely ignore this email.</p>
{% endblock %}